<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список новостей</title>
</head>
<body>
{% if news %}
<h2>Новости</h2>
<ul>
{% for n in news%}
    <li><a href="/news_list/{{ n.id }}">{{ n.title }}</a></li>
    {% endfor %}

</ul>
{% else %}
<p>Новостей нет</p>
{% endif %}
<a href = '../news_create'>Добавить новость</a>

{% if request.user.is_authenticated %}
<h4> Вы авторизованы на сайте как {{request.user.username}} </h4>
<a href="../logout">Выйти из учетной записи</a>
{% else %}
<h3> Вы не авторизованы на сайте </h3>
<a href = '../login'>Авторизация</a>
{% endif %}

</body>
</html>