<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список новостей</title>
</head>
<body>
{% if news %}
<h2>Новости</h2>
<ul>
    {% for n in news%}
        {% if n.is_active %}
        <li><a href="/news_list/{{ n.id }}">{{ n.title }}</a> {{ n.created_at }}
            <p>Тэг: {{ n.tag }}</p> </li>
        {% endif %}
    {% endfor %}

</ul>
{% else %}
<p>Новостей нет</p>
{% endif %}

{% if request.user.is_authenticated and perms.app_news.add_news %}
<a href = '/news_create'>Добавить новость</a>
{% endif %}

{% if request.user.is_authenticated %}
<h4> Вы авторизованы на сайте как {{request.user.username}} </h4>
<a href="/logout">Выйти из учетной записи</a>
<a href="/account">Профиль</a>
{% else %}
<h3> Вы не авторизованы на сайте </h3>
<a href = '/login'>Авторизация</a>
<a href = '/register'>Регистрация</a>
{% endif %}

</body>
</html>